<span class="sumoSelect sumoSelect-container empty">
  <span class="selection">
    <span class="placeholder"></span>
    <span class="sumoSelect-clear">×</span>
    <img src="scripts/lib/sumoSelect/images/arrow-down.svg" class="sumoSelect-arrow">
  </span>
  <span class="dropdown-wrapper"></span>
</span>
