<span class="ss-dropdown hide">
  <span class="ss-search">
    <input class="ss-search-field" type="search" spellcheck="false">
  </span>
  <span class="ss-results">
    <ul class="ss-options">
      <%=dropDownItemsTemplate({items:items, selected:selected})%>
    </ul>
  </span>
</span>
